<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Engenhos Nouveaux</title>

      <!-- <link href="../src/assets/stylings/engines.css" rel="stylesheet"> -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons" rel="stylesheet">

<style>

      html, body {
        font-family: "News Cycle", sans-serif !important;
        font-weight: 300 !important;
        font-style:normal !important;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: "News Cycle", sans-serif !important;
        font-weight: 300 !important;
        font-style:normal !important;
      }

      .dignity {
        font-family: "News Cycle", sans-serif !important;
        font-weight: 300 !important;
        font-style:normal !important;
      }

      i, .material-icons {
        vertical-align: middle;
      }

      .material-icons.md-18 { font-size: 18px; }
      .material-icons.md-24 { font-size: 24px; }
      .material-icons.md-36 { font-size: 36px; }
      .material-icons.md-48 { font-size: 48px; }
      .material-icons.md-60 { font-size: 60px; }
      .material-icons.md-72 { font-size: 72px; }
      .material-icons.md-84 { font-size: 84px; }
      .material-icons.md-96 { font-size: 96px; }
      /* Rules for using icons as black on a light background. */
      .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
      .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

      /* Rules for using icons as white on a dark background. */
      .material-icons.md-light { color: rgba(255, 255, 255, 1); }
      .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

      a:hover {
        text-decoration: none;
      }

</style>

  </head>
  <body>
    <div id="app"></div>

  </body>
</html>
