$font-family-sans-serif: "News Cycle", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #607d8b;
$indigo:  #342759;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #960018;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #75816B;
$teal:    #265b5f;
$cyan:    #17a2b8;

$primary:       $blue;
$secondary:     #848482;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;


@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index.scss';