<template lang="pug">
#app
	b-navbar(toggleable='lg' type='dark' variant='dark')
		b-navbar-brand(href='/') 
			i.fas.fa-sun.fa-2x.mr-3
			| Engenhos Nouveaux
		b-navbar-toggle(target='nav-collapse')
		b-collapse#nav-collapse(is-nav)
			b-navbar-nav
				b-nav-item(href='#' active) Rio de Dinheiro
				b-nav-item(href='#' active) San Pavlov	
			b-navbar-nav.ml-auto
				b-nav-form
					b-form-input.mr-sm-2(size='sm' placeholder='Seek')
					b-button.my-2.my-sm-0(color="grey" type='submit') Find
				b-nav-item-dropdown.ml-3(text='Radio Modes' no-caret active)
					b-dropdown-item(href='#') 
						i.material-icons.md-24.mr-2 all_inclusive
						| Anglo-Klaxon
					b-dropdown-item(href='#') 
						i.material-icons.md-24.mr-2 local_dining
						| Espantalho
					b-dropdown-item(href='#') 
						i.material-icons.md-24.mr-2 all_inclusive
						| Russovich
					b-dropdown-item(href='#') 
						i.material-icons.md-24.mr-2 all_inclusive				
						| Spacious Rumi
					b-dropdown-item(href='#') 
						i.material-icons.md-24.mr-2 all_inclusive
						| Turkish Delight
					b-dropdown-item(href='#') 
						i.material-icons.md-24.mr-2 all_inclusive
						| Mongols Hoard
					b-dropdown-item(href='#') 
						i.material-icons.md-24.mr-2 all_inclusive
						| Finish With Finnish
					b-dropdown-item(href='#') 
						i.material-icons.md-24.mr-2 all_inclusive
						| Euskara
					b-dropdown-item(href='#') 
						i.material-icons.md-24.mr-2 g_translate
						| Sanskrit to Wit
					b-dropdown-item(href='#') 
						i.material-icons.md-24.mr-2 all_inclusive
						| O Final Flor
					b-dropdown-item(href='#') 
						i.material-icons.md-24.mr-2 all_inclusive
						| Hungry Ian
			b-navbar-nav
				b-nav-item
					b-button(v-b-toggle.sidebar-1) 
						i.material-icons.mr-2 wifi
						| Collateral Damage
					b-sidebar.px-3.py-2#sidebar-1(title='Engenho Novo' variant="secondary" shadow)
						p.px-4.py-2.
							Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
						p.px-4.py-4
							img(src='@/assets/images/titannical-steaming.jpg' width="100%" alt="Hydrogen Bombardment")
						p.text-center
							b-button(variant="outline-secondary" size="md")
								i.fas.fa-bullseye.fa-lg.mr-2
								| Ach Der Deutschtum!
			router-view
</template>

<style lang="css">
@import "assets/stylings/engines.css";	

#app {
	font-family: "News Cycle", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, html {
	height: 100%;
	width: auto;
}


.fundo {
	background: url("assets/images/enigma.jpg") no-repeat center center fixed;
	min-height: 100%;
	min-width: 100%;
	width: 100;
	height: auto;
	position: relative;
	background-size: cover;
	/* top: 0;
	left: 0;
	background-color: #607d8b;
	background-blend-mode: multiply; */
}

.imundo {
	background-image: url("./assets/images/vintage-test-three.jpg") no-repeat center center relative;
	min-height: 100%;
	min-width: 100%;
	/* width: 100;
	height: auto; */
	position: relative;
	background-size: cover;
	top: 0;
	left: 0;
	filter: grayscale(100%) contrast(60%);
	background-color: #607d8b;
	background-blend-mode: multiply;
}

.coberto {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

</style>
